.card {
    /* background-color:blue; */
    margin: 5px;
    padding: 25px;
    border:solid 1px blueviolet;
    margin-left: auto;

}

.container{
    display:flex;
    justify-content: center;
}


.sub-container{
        display: flex;
        flex-direction: row;
        /* flex-flow: wrap-reverse; */
        width: 90%;
        height: 100%;
        margin-top: 5%;
        flex-wrap: wrap;
    }

.card-image{
    height: 180px;
    width: 180px;
    border-radius: 5px;
}

.loading-text{
    margin-top: 20%;
    margin-left: 45%;
}